@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
*{
    font-family: 'Droid Arabic Kufi', serif;
}
body{
  background:#F2F2F2;
}
.scroll{
    position:relative;
    direction: rtl;
}
.arrowss:after{
    content: '';
    position: absolute;
    top:0%;
    right: 5px;
    background: rgba(243, 244, 246);
    width:20px;
    height:20px;
    transform:translateY(-50%) rotate(45deg);
}
.ltr{
    direction: ltr;
}
.cart:before{
  content: '';
  position: absolute;
  top: 7px;
  left: 15px;
  z-index: 0;
  width: 10px;
  height: 13px;
  background: white;
  transform: translateY(-95%) rotateZ(45deg)
}
.numbers{
  font-family:  Arial, sans-serif !important;
  font-weight: 500;
}

.numberss{
  font-family:  Arial, sans-serif !important;
  font-weight: 700;
}
.orders .swiper-slide:hover .absolute{
  opacity: 1;
  transition: .6s all ease;
}
.orders .swiper-slide .absolute{
  opacity: 0;
  transition: .6s all ease;
}
.noti-hover{
  cursor: pointer;
}
.slideLeft{
  animation: slideLeft .6s forwards;
}
.backgroundwhite{
  background:white !important;
}
.centered{
  animation: slideRight .6s forwards;
}
.slidesright{
  animation: slideRights .6s forwards;
}
.slidesleft{
  animation: slideLefts .6s forwards;
}
@keyframes slideRight {
  0% {
    transform:translateX(100%);
    opacity:1;
    
  }
  100% {
    transform:translateX(0%);
    opacity:1;
    position: relative;
  }
}
@keyframes slideLeft {
  0% {
    transform:translateX(0%);
    top:0;
    opacity:0;
    height:0px;
    overflow: hidden;
    position: absolute
  }
  100% {
    transform:translateX(100%);
    opacity:0;
    height:0px;
    overflow: hidden;
    top:0;
    position: absolute;
  }
}
@keyframes slideRights{
  0% {
    transform:translateX(-100%);
    display:none;
    height:auto;
    overflow: visible;
    opacity:1;
    position: relative
  }
  100% {
    transform:translateX(0%);
    display:block;
    height:auto;
    overflow: visible;
    opacity:1;
    position: relative;
  }
}
@keyframes slideLefts{
  0% {
    transform:translateX(0%);
    top:0;
    opacity:0;
    position: absolute
  }
  100% {
    transform:translateX(-100%);
    opacity:0;
    top:0;
    position: absolute;
  }
}

.noti-hover:hover{
  background:rgba(229, 231, 235,1);
}
.scroll{
  overflow: hidden;
}
.overflows:hover{
  overflow: hidden !important;
}
.scrolls::-webkit-scrollbar-thumb {
  background-color: darkgrey;
} 
.scrolls::-webkit-scrollbar {
  width: 3px;
  margin-top:10px;
  position:absolute;
  left:0px;
}
.scroll::-webkit-scrollbar {
  width: 3px;
  position:absolute;
  left:0px;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
} 
.scroll:hover {
  overflow-y:scroll;
}
.small-hover:hover{
  background:rgba(229, 231, 235,1);
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
} 
body::-webkit-scrollbar {
  width: 9px;
  position:absolute;
  left:0px;
}
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  height: 100px;
  border-radius: 15px;
} 
.slider .swiper-slide {
  width:100% !important;
}


.snap-x {
  scroll-snap-type: x mandatory;
    
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.snap-start {
  scroll-snap-align: start;
}
.img{
  background-size: cover !important;
  background-position: center !important;
}
.banner1{
  background-size:cover !important;
  background-repeat: no-repeat !important;
  background-position:center !important;
}
@keyframes slideUps {
  0%{
    opacity: 0;
    transform: translate(-50%,100%);
  }
  100%{
    opacity: 1;
    transform: translate(-50%,-50%);
  }
}
@keyframes slideUpss {
  0%{
    opacity: 0;
    transform: translate(0%,100%);
  }
  100%{
    opacity: 1;
    transform: translateY(0%,-50%);
  }
}
@keyframes slideDownss {
  0%{
    opacity: 1;
    transform: translate(0%,-50%);
  }
  100%{
    opacity: 0;
    transform: translateY(0%,100%);
  }
}
@keyframes slideDowns {
  0%{
    opacity: 1;
    transform: translate(-50%,-50%);
  }
  100%{
    opacity: 0;
    transform: translateY(-50%,100%);
  }
}
.hoverme:hover{
  color:rgba(245, 158, 11)
}
.hoverme:hover svg path{
  fill:rgba(245, 158, 11)
}
.slideDowns{
  animation: slideDowns 1s forwards;
}
.slideDownss{
  animation: slideDownss 1s forwards;
}
.slideUps{
  animation: slideUps .7s forwards;
}
.slideUpss{
  animation: slideUpss .7s forwards;
}
.swiper-pagination-bullet-active{
  background:rgb(245, 158, 11,1) !important;
}
.title:after{
  content:"";
  position:absolute;
  right:0px;
  width:.4rem;
  height:1.4rem;
  top:-.5rem;
  background:rgb(245, 158, 11,1);
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.title:before{
  content:"";
  position:absolute;
  left:0px;
  width:.3rem;
  height:1rem;
  top:1.5rem;
  background:rgb(245, 158, 11,1);
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
/* @media (min-width: 0px) { 
  .title:after{
    width:.26rem;
    height:1.1rem;
  }
  .title:before{
    width:.2rem;
    height:.7rem;
  }
  .card-responsive{
    width:49%;
  }
} */
@media (min-width: 640px) { 
  .title:after{
    width:.26rem;
    height:1.1rem;
  }
  .title:before{
    width:.2rem;
    height:.7rem;
  }
  /* .card-responsive{
    width:17.2rem;
  } */
}
@media (min-width:1900px){
  /* .card-responsive{
    width:19.2rem;
  } */
  .height-2xl{
    height: 40rem;
  }
}
.cardTitle:after{
  content:"";
  position:absolute;
  right:0px;
  width:.4rem;
  height:1.4rem;
  top:0;
  background:rgb(245, 158, 11,1);
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.active-tab{
    color:rgb(0, 0, 0,1);
    font-weight: bold;
}
.discount:after{  
  content:'';
  position:absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
  width:100%;
  height:1px;
  background:rgb(82, 82, 82);

}
@media (max-width:400px){
  .advanced{
    padding-right:8px;
    font-size:0.5rem;
  }
}
@media (min-width:1300px){
  .swiper-wrapper{
    padding:0px 5px;   
  }
}
.swiper-button-prev:after{
  font-size: 22px !important;
}
.swiper-button-next:after{
  font-size: 22px !important;
}
.swiper-container:hover .swiper-button-prev{
  opacity: 1;
  transition: all .4s ease;
}
.swiper-container:hover .swiper-button-next{
  opacity: 1;
  transition: all .4s ease;
}
.swiper-button-prev{
  opacity: 0;
  right:0px !important;
  background:rgb(245, 158, 11,.6);
  border-radius: 100%;
  width:40px !important;
  height:40px !important;
  transition: all .4s ease;
}
.swiper-button-next{
  opacity: 0;
  left:0px !important;
  background:rgb(245, 158, 11,.6);
  border-radius: 100%;
  width:40px !important;
  height:40px !important;
  transition: all .4s ease;
}
.categories .swiper-button-prev{
  margin-top: -33px;
} 
.categories .swiper-button-next{
  margin-top: -33px;
} 
.swiper-button-prev:after{
  color:white;
  left:50%;
  position: absolute;
  top:50%;
  transform:translate(-50%,-50%);
  border-radius: 100% !important;
}
.swiper-button-next:after{
  color:white;
  left:50%;
  position: absolute;
  top:50%;
  transform:translate(-50%,-50%);
  border-radius: 100% !important;
}
.shows{
  height:0px;
  padding:0px 10px;
}
.sort:hover + .shows{
  max-height: 600px;
  height: auto;
  transition: all 0.5s ease;
}
.shows:hover{
  max-height: 600px;
  height: auto;
  transition: all 0.5s ease;
}
@media (min-width:1025px){
  .btn{
    opacity:0;
    transition:.5s all ease;
    cursor: pointer;
  }
  .before-hover{
    opacity:1 !important;
    transition:.5s all ease;
  }
  .cards:hover .info .desc .before-hover{
    opacity:0 !important;
    transition:.5s all ease;
  }
  .cards:hover .btn{
    opacity:1;
    transition:.5s all ease;
  }
}
.special-brands-slider .swiper-wrapper{
  padding:0px 0px;
}
.margin-4 .swiper-slide{
margin-right: 1px !important;
}
.hover-side:hover{
  background:rgba(229, 231, 235,1) !important;
  cursor: pointer;
}

.discounts{
  background-color: rgb(245, 158, 11,.9);
}
.swiper-scrollbar{
  margin-bottom:-6px;
  opacity: 0;
}
.swiper-scrollbar-drag{
  background:rgb(245, 158, 11,.6) !important;
} 

@media (max-width:500px){
  .card-slider .swiper-container{
    padding:0px 2px;
  }
  /* .card-slider .swiper-container{
    direction: rtl;
  } */
}
@media (min-width:500px){
  /* .card-slider .swiper-container{
    padding-right:3px;
   
  } */
}
@media (max-width:411px){
  .proposals{
    padding-left: 0px;
    padding-right: 0px;
  }
}
.card-slider .swiper-slide{
  display: flex;
  justify-content: center;
}
@media (max-width:800px){
  .text-2xs{
    font-size: 11px;
  }
}

@media  (min-width:500px){
  .propos .slider{
    margin-top:20px;
  }
}
@media (max-width:415px){
  .cards{
    width:11rem;
  }
  .advanced{
    font-size: 11px !important;
  }
}
@media (max-width:375px){
  .cards{
    width:10rem;
  }
}
@media (max-width:320px){
  .text-2xs{
    padding:0px 0px !important;
  }
  .cards{
    width:8.9rem;
  }
  .card-mobile{
    width:2rem;
    height:2rem;
  }
  .text-mobile-xs{
    font-size: 11px;
  }
  .padding-mobile-0{
    padding-left:0px;
    padding-right:0px;
  }
}

.border-bottom{
background-color: rgb(78, 78, 78);
}
@keyframes sldie {
  0% {
      transform:  rotate(-135deg);
      opacity: 1;
      z-index: -1;
  }
  50%{
      transform: translateZ(0) rotate(0deg);
      opacity: 1;
      z-index: -1;
  }
  70%{
      transform: translateZ(0) rotate(-3deg);
      opacity: 1;
      z-index: -1;
  }
  100%{
      transform: translateZ(0) rotate(0deg);
      opacity: 1;
      z-index: -1;
  }
  
}
@media (max-width:900px){

  .positionTopmobile{
    top:40% !important;
  }
}

.animation svg{
  position: absolute;
  left:50%;
  z-index: -1;
  bottom:-213%;
  transform:translate(-50%,-20%);
  margin-top:50px;
}
.animation .first{
  animation:sldie 1s forwards ;
    opacity: 0;
}

.animation .second{
  animation:sldie 1s forwards ;
    animation-delay: .1s;
    opacity: 0;
}

.animation .third{
  animation:sldie 1s forwards ;
  animation-delay: .2s;
  opacity: 0;
}
.bar-logo{
  transform:translateY(-60%);
  position: absolute;
  background-color: #484848;
  border-radius: 100%;
  width:50px;
  height:50px;
  padding:7px;
}
.animation-text{
  font-size: 6px;
  fill:white;
}
.animation-text-1{
  transform:translate(1%,-39%) rotatez(-54deg)
}
.animation-text-2{
  transform:translate(8%,-40%) rotatez(60deg)
}
.animation-text-3{
  transform:translate(-10%,-14%) rotatez(0deg)
}
@keyframes slidTop {
  0%{
    top:0px;
    height:0px; 
  }
  95%{
    z-index:50;
  }
  100%{
    top:1.5rem;
    z-index:50;
  }
}
@keyframes slidBottom {
  0%{ 
    top:1.5rem;
    z-index:50;
  }
  100%{
    top:0px;
    height:0px;
  }
}
.slide-top{
  animation: slidTop .6s forwards;
}
.slide-bottom{
  animation: slidBottom .6s forwards;
}

.skeleton-box {
  position: relative;
  overflow: hidden;
  background-color: #e2e8f0;
}
.skeleton-absolute {
  overflow: hidden;
  background-color: #e2e8f0;
}
.skeleton-box:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0)
    ) !important;
    animation: shimmer 3s infinite;
    content: '';
  }
  .skeleton-absolute:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0,
      rgba(255, 255, 255, 0.2) 20%,
      rgba(255, 255, 255, 0.5) 60%,
      rgba(255, 255, 255, 0)
    ) !important;
    animation: shimmer 3s infinite;
    content: '';
  }
@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}



/* thumb slider */


.thumb.swiper-container {
  width: 100%;
  height: 100%;
}

.thumb .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.thumb .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiper {
  width:100%;
  height: 100%;
  padding: 0px 0;
}

.mySwiper .swiper-wrapper{
  padding:0px 0px !important
}
.mySwiper2 .swiper-wrapper{
  padding:0px 0px !important
}
.mySwiper .swiper-slide {
  opacity: 0.4;
}
.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
/* 
.thumb .swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  width:100%;
  margin-bottom:10px ;
}






 */
 .fsale .swiper-slide{
  background: transparent !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fsale .swiper-slide .imgs{
  width:30% !important;
}
.fsale .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .product-gallery .swiper-slide{
  width: 100%;
} */
/* .product-gallery .swiper-container{
    width: 100%;
} */
.active-offer{
  background-color: white !important;
  border-radius: 4px ;
  height:136px;
  justify-content: space-around;
}
.offers{
  background: #FFBC00;
}
@media (max-width:290px){
  .statistics-icon{
    width:1.5rem !important;
  }
}
.hover-gray-200{
  cursor: pointer;
}
.hover-gray-200:hover{
  background-color: rgb(241, 241, 241);
}


.scr::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  height:100px;
} 
.scr::-webkit-scrollbar {
  width: 3px;
  margin-top:10px;
  position:absolute;
  left:0px;
}
.cancelation:hover{
  background: rgba(75, 85, 99);
  color:white
}
.filters:hover{
  background: #eee;
}
.radios {
	visibility: hidden;
}
.radioImg {
	display: inline-block;
	padding: 0px;
	height:10px;
	width:10px;
	content:''
}
.radios:checked +.radioImg:after {  
  content: "\2713";
  display: inline-block;
	padding: 0px;
	height:10px;
	width:10px;
}
.hover-black:hover{
  color: black !important;
}
.tables{
  height: 100px !important;
  overflow: hidden;
  max-height:100px !important;
}
@media (max-width:1000px){
  .conversation{
    min-width: 80rem !important;
  }
  
  .mobiletext{
    font-size: 10px;
  }
}
span{
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}