@import url(https://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
*{
    font-family: 'Droid Arabic Kufi', serif;
}
body{
  background:#F2F2F2;
}
.scroll{
    position:relative;
    direction: rtl;
}
.ltr{
    direction: ltr;
}
.cart:before{
  content: '';
  position: absolute;
  top: 7px;
  left: 15px;
  z-index: 0;
  width: 10px;
  height: 13px;
  background: white;
  transform: translateY(-95%) rotateZ(45deg)
}
.numbers{
  font-family:  Arial, sans-serif !important;
  font-weight: 500;
}
.scrolls::-webkit-scrollbar {
  width: 2px;
  margin-top:10px;
  position:absolute;
  left:0px;
}
.noti-hover{
  cursor: pointer;
}
.slideLeft{
  animation: slideLeft .6s forwards;
}
.centered{
  animation: slideRight .6s forwards;
}

@keyframes slideRight {
  0% {
    transform:translateX(-100%);
    opacity:1;
    position: relative;
  }
  100% {
    transform:translateX(0%);
    opacity:1;
    position: relative;
  }
}
@keyframes slideLeft {
  0% {
    transform:translateX(0%);
    top:0;
    opacity:0;
    position: absolute
  }
  100% {
    transform:translateX(-100%);
    opacity:0;
    top:0;
    position: absolute;
  }
}

.noti-hover:hover{
  background:rgba(150, 150, 150, 0.212);
}
.scrolls::-webkit-scrollbar-thumb {
  background-color: darkgrey;
} 
.scroll::-webkit-scrollbar {
  width: 1px;
  position:absolute;
  left:0px;
}
.slider .swiper-slide {
  width:100% !important;
}
.scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
} 

.snap-x {
  scroll-snap-type: x mandatory;
    
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.snap-start {
  scroll-snap-align: start;
}
.img{
  background-size: cover !important;
  background-position: center !important;
}
.banner1{
  background-size:cover !important;
  background-position:center !important;
}
.swiper-pagination-bullet-active{
  background:rgb(245, 158, 11,1) !important;
}
.title:after{
  content:"";
  position:absolute;
  right:0px;
  width:.4rem;
  height:1.4rem;
  top:-.5rem;
  background:rgb(245, 158, 11,1);
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.title:before{
  content:"";
  position:absolute;
  left:0px;
  width:.3rem;
  height:1rem;
  top:1.5rem;
  background:rgb(245, 158, 11,1);
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
/* @media (min-width: 0px) { 
  .title:after{
    width:.26rem;
    height:1.1rem;
  }
  .title:before{
    width:.2rem;
    height:.7rem;
  }
  .card-responsive{
    width:49%;
  }
} */
@media (min-width: 640px) { 
  .title:after{
    width:.26rem;
    height:1.1rem;
  }
  .title:before{
    width:.2rem;
    height:.7rem;
  }
  /* .card-responsive{
    width:17.2rem;
  } */
}
@media (min-width:1900px){
  /* .card-responsive{
    width:19.2rem;
  } */
}
.cardTitle:after{
  content:"";
  position:absolute;
  right:0px;
  width:.4rem;
  height:1.4rem;
  top:0;
  background:rgb(245, 158, 11,1);
  border-top-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
.active-tab{
    color:rgb(0, 0, 0,1);
    font-weight: bold;
}
.discount:after{  
  content:'';
  position:absolute;
  top:50%;
  left:0;
  transform:translateY(-50%);
  width:100%;
  height:1px;
  background:rgb(82, 82, 82);

}
@media (max-width:400px){
  .advanced{
    padding-right:8px;
    font-size:0.5rem;
  }
}
@media (min-width:1200px){
  .swiper-wrapper{
    padding:0px 5px;   
  }
}
@media (min-width:1025px){
  .btn{
    opacity:0;
    transition:.5s all ease;
    cursor: pointer;
  }
  .before-hover{
    opacity:1 !important;
    transition:.5s all ease;
  }
  .cards:hover .info .desc .before-hover{
    opacity:0 !important;
    transition:.5s all ease;
  }
  .cards:hover .btn{
    opacity:1;
    transition:.5s all ease;
  }
}
.special-brands-slider .swiper-wrapper{
  padding:0px 0px;
}